body {
  margin: 0;
  font-family: "Montserrat";
  min-width: 380px;
  max-width: 100%;
  padding-right: 0 !important;
  background-color: #f2f2f2;
  overflow-y: scroll !important;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
